.ant-notification {
  background-color: transparent; 
  color: white; /* 텍스트 색상을 흰색으로 설정 (검은 배경에 대비) */
  /* 필요에 따라 여기에 추가적인 스타일을 정의할 수 있습니다. */

  /* height: 100%; */
  /* z-index: inherit; */
}


.App {
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  min-height: 100vh;
  padding-left:10%;
  padding-right: 10%;
  margin-bottom: 30px;
}


.home-content {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  min-height: 100vh;
}



.handler-content {
  position: absolute;
  width: 75%;
  height: 5rem;
  background-color: #fff;
  left: 22.5%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggle-container{

  display: flex; 
}



.Toggletype{
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 80px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid gray;
}

.Toggletype::before{
  content:'';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.toggle-component {
  position: absolute;
  width : 70%;
  top: 0;
  left: 25%;
  z-index: 10; /* 높은 z-index */
  margin : 0 auto;
}


.button-container {
  opacity: 1;
  margin-top: 1px;
  display: flex;
  justify-content: center;  /* 혹은 space-around, center 등 */
  align-items: center;
  flex-direction: column;
}

.button-container input{                  /*file upload 제외하고 나머지 버튼들*/
  background-color: rgb(154, 183, 193); /* 버튼 배경색을 남색으로 설정 */
  color: white; /* 글씨 색상을 흰색으로 설정 */
  border: none; /* 기본 border 제거 */
  padding: 10px 15px; /* 버튼 내부 패딩 설정. 필요에 따라 조절하세요 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  
   /* 모서리를 둥글게 만듭니다. 값은 필요에 따라 조절하세요 */
   border-radius:12px;
   cursor:pointer; /* 마우스 커서가 버튼 위로 올라갔을 때 손가락 모양으로 바꿉니다 */
   transition-duration :0.4s ;/* 클릭했을 때와 클릭하지 않았을 때의 전환 시간이 부드럽게 보이도록 합니다.*/
}

.button-container input:hover {
  background-color : #008CBA ;/* 배경색 변경*/
  color : white ;
}

.button-container input[type="file"] {    /*file 업로드 버튼*/
  opacity: 1;
  margin: 0 5px;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
}

.button {
  opacity: 1;
  font-size: 20px;
  padding: 15px 30px;
  cursor: pointer;
}

.button-row {
  margin-bottom: 10px; /* Adjust as needed */
}


.side-menu {
  width: 200px;
  height: 100vh;
  background-color: #333;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu.closed {
  transform: translateX(-100%);
}