/* Top-right-button */
/* Button */

.top-right-button {
  width: 100%; /* 이 부분을 추가하면 부모 div 안에서 너비를 차지하게 됩니다. */
  background: #fff;
    z-index: 100; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Button Row */
  .button-row {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .button-row {
    margin: 10px;
  }
  
  button {
    background-color:#fff;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    color: #3064d6;
  }