.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    padding: 0;
  }
  