.header {
    background-color: #9ab7c1;
    color: #3B6C7D;
    text-align: center;
    padding: 5px;
    height: 40px;
    display: flex;
    position: relative; /* 이 부분 추가 */
    /* justify-content: space-between; */
}

.logo {
    height: 100%;
    /* 로고 크기 설정 */
}

a {
    text-decoration: none;
    color: #3B6C7D;
}

.menu {
    position: absolute;
    left: 20%;
    list-style-type: none;
    display: flex;
    gap: 40px;
}


.login {
    order:1;
    position: absolute;
    right: 5%;
    list-style-type: none;
    display: flex;
    gap: 40px;
}


.header h1 {
    margin: 0;
    padding: 0;
}