.home-content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  margin-top: 35px;
}

.home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  position: relative;
  /* opacity: 0.5; */
}

.home-select-box {
  width: 50%;
  height: 30%;
  bottom: 0;
  color:#3064D6;
  position: absolute;
  top: 75%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 20px;
  font-size: 1rem; /* 이 부분은 상대적 크기 조절의 기준이 됩니다. */
  padding: 20px;
}


.home-btn {
  width: 160px;
  height: 60px;
  font-size: 16px;
  background-color:white;
  color: #3064D6;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(15, 38, 214, 0.1);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top: 40px;
  margin-right: 20px;
}

.home-btn:hover{
  transition: all 0.2s ease-in-out;
  color: #8da4d6;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
  }

  .img-container {
    width: 100%;
  }

  .home-select-box {
    bottom: 0;
    left: 10;
    right: 10;
    width: 80%;
    /* height: 60%; */
    text-align: center;
  }
}


h1 {
  font-family: "Noto Sans KR", sans-serif !important;
}