body {
  margin: 0;
  font-family: "GmarketSansMedium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("../assets/font/Pretendard-Regular.otf") format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  font-weight: normal;
  src: url("../assets/font/GmarketSansMedium.otf") format("truetype");
}

