/* Common styles and font face */
@font-face {
    font-family: "Pretendard-ExtraBold";
    font-weight: normal;
    src: url("./../assets/font/Pretendard-ExtraBold.otf") format("truetype");
  }
  
  .highlight {
    background-color: #F4EEFA;
  }
  
  .box-shadow {
    box-shadow: 5px 5px 5px #000;
  }
  
  .logo-container {
    background-color: #fff;
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .logo-container .content > img {
    width: 80%;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  .logo-container .content > p {
    font-family: "Pretendard-ExtraBold";
    text-align: center;
    font-size: 30px;
    color: #333;
}

  
  .container2 {
    min-height: 300px;
    width: 100%;
    display: flex;
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }
  
  .img img {
    width: 60%;
    height: 60%;
    margin-top: 150px;
    margin-bottom: 50px;
  }
  
  .text {
    /* Styles for text under images, if needed */
  }
  
  /* Content styles */
  .Excels {
    display: grid;
    grid-template-columns: 15% 70% 15%;
  }
  
  .content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
    font-size: 40px;
    border-radius: 10px;
 
  }
  
  .content-block > p {
    margin: 0;
    padding: 10px;
    font-family: "Roboto";
  }
  
.content-dummy{
    margin-top: 300px;
    margin-bottom: 300px;
}