

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
a {
    
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모의 글자색을 상속 */
  }


.container1 {
  background-color: #326070;
  min-height: 200px;
  width : 100%;
  display: flex;
  justify-content: left; 
  margin-top:3px;
}


.content> p{
  text-align: left; /* Horizontal centering */
  color: white;
  font-size: 15px; 
  margin:10px;
  border-bottom: 2px solid white;  /* 밑줄 추가 */
  font-family:"Roboto";
}



/* container2 */
.container2 {
    min-height: 300px;
    width : 100%;
    display: flex;
    margin-top:3px;
    background-color: #ffffff;
    justify-content: center; /* Horizontal centering */
    flex-direction: column;
    align-items: center;
    
  }


.container2 > p {
    text-align: center;
    justify-content: center; /* Horizontal centering */
    font-family: 'Arial', sans-serif;  /* 폰트 변경 */
    font-size: 16px;  /* 폰트 크기 변경 */
    color: #333;  /* 글자색 변경 */
    line-height: 1.6;  /* 줄 간격 조절 */
    font-family:"Roboto";
    font-weight: bold;

}