.title1{
    padding-top:40px;
    color: #525252;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align:center;
    padding-bottom:20px;
}

.file-name{
    text-align: left;
    padding-left:20px;
}

.middle-bar{
    background-color: #809CDA;
    height: 20px;
    width: 100%;
    margin-top:10px;
}

.instance{
    /* display: flex; */
    margin-top:20px;
    justify-content: space-between;
    position: relative;   /* Set position context for pseudo-element */
}

.instance-title{
    background-color: #809CDA;
    border-radius: 20px;
    color:white;
    width: auto;
    padding-left:10px;
    padding-right:20px;
    padding-top:3px;

    height: 30px;
    min-width: 200px;
}

.instance-cost{
    text-align: right;
    justify-content: right;
    /* margin-left: 20px; */
    padding-bottom: 10px;
    /* justify-content: space-between; */
    width: 100%;
    /* height: 20px; */
    display: flex;
    border-bottom: 2px solid #E6E6E6;

}

.instance-cost-container{
    width: 100%;
    display: flex;

}

.instance-dropdown{
    margin-top:20px;
    margin-bottom:30px;
    text-align: right;
    margin-right: 20px;
}


.dropdown-icon{
    text-align: right;
    padding-left:10px;
}

.between-bar{
    border-bottom: 3px solid #E6E6E6;
    margin-top: 10px;
    padding-bottom: 10px;
}

.total-container{
    display: flex;
    margin-top:30px;
    padding:10px;
    justify-content: space-between;

    background-color: #809CDA;
    color: white;
    
}
.total-cost-title{
    padding-left:10px;
}

.total-cost{
    padding-right: 10px;
}

.pie-chart {
    display: flex;
    align-items: center; /* This vertically centers the child items */
    justify-content: center; /* This horizontally centers the child items */
    max-height: 350px; /* Setting a specific height for the container */
}


/* table design */

table {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 5px;
  align-items: center; /* This vertically centers the child items */
  margin-left: auto;
  margin-right: auto;}

th {
  padding: 10px;
  
}

table thead th {
  border: 1px solid #ddd;
  text-align: center;
}

table tbody tr td {
  /* min-width: 100px; */
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;

  margin: 0;
}

table tbody tr td:nth-child(1) {
  min-width: auto;
}


table tbody tr.disabled_row:hover {
  background-color: transparent;
  cursor: default;
}