.container{
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    
}

.content{
    flex:3;
}
.flex-container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

.menu-container{
    width: 256px;
    flex: 1;
}

.main-container{
    flex: 4;
}

.menu-title{
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 500;
    font-size: 20px;
}

.cloud_instance{
    width:200px;
    padding: 10px;
    background-color: aqua;
    margin: 20px;
}

.img_test_01{
    width: 100%;
}

.button_container{
    align-items: right;
}