.mypage-info-container {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin-left: 40px;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center;
  }
  
  .my-input-group {
    position: relative;
    margin-bottom: 20px;
    width: 50%; 
    display: flex; /* 플렉스박스로 나열 */
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;

}

.my-input-group label {
    position: relative;
    width: auto;
    min-width: 100px;
    display: flex;
    margin-right: 10px; /* 오른쪽 마진 추가 */
}

.my-input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    min-width: 230px;
}
.my-input-group div{
    width: 70px;
    min-width: 70px;
    margin-left: 10px;
}

.my-input-group button {
    width: 70px;
    min-width: 70px;
    margin-left: 10px;
    padding: 7px 5px;
    background-color: #3064D6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 10px;
    height: 35px;
}

.my-input-group button:hover {
    background-color: #0056b3;
}
