/* Basic styles */
.tabs {
  width: 100%;
  background-color: whitesmoke;
  border: solid 1px black;
  overflow: hidden;
}

.tab-content {
  width: 100%;
  height: 200px;
}

.tab {
  width: 100%;
  position: relative;
  /* color: white; */
  overflow: hidden;
}

/* Input styles */
input[type="text"] {
  position: relative;
  color: black;
  width: 100%;
  height: 20px;
  z-index: inherit;
}

/* Accordion styles */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab-label {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 0.5em;
  /* background: #446b83; */
  border: solid 1px white;
  cursor: pointer;
  /* color: #fff; */
}

.tab-label:hover {
  background: #98b8ff;
}

.tab-label::after {
  content: "â¯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

input[type="radio"]:checked + .tab-label {
  background-color: #d0dfff;
}

input[type="radio"]:not(:checked) + .tab-label,
.tab-close:hover {
  /* background: #79acff;
   */
   color: black;
}

.tab-content {
  max-height: 0;
  background: white;
}

input[type="radio"]:checked ~ .tab-content {
  max-height: 100vh;
}

/* Scrollable styles */
.scrollable-tabs-container,
.tab-content > div[style*="overflow: auto;"] {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}

.scrollable-tabs-container {
  max-height: 570px;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Miscellaneous styles */
.search-container,
.filtered-nodes-container {
  text-align: left;
  font-size: 7px;
}

.filtered-nodes-container {
  background-color: aliceblue;
  font-size: 7px;
  width: 100%;
  padding: 10px;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  cursor: pointer;
}
