.tab-content {
    width: 100%;
    height: 200px;

}

.tabs {
    width: 100%;
    background-color: whitesmoke;
    border: solid 1px black;
}

.tab {
    width: 100%;
    /* display: inline-block; Makes the tabs stay side by side */

}
.scrollable-tabs-container {
    max-height: 570px; 
    overflow-y: auto;
}

