.ec2 {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 0 auto; /* centers the element horizontally */
  border-radius: 4px;
  padding: 10px 0; /* added equal padding to the top and bottom */

}

.toggle-component {
  height:30px;
  display:flex;
  justify-content: space-between;
  padding: 0.25rem;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  margin: 0 5px; /* added left and right margin for space between selects */
  cursor: pointer; /* indicates an interactive UI element */

}

select {
  width: 100%;
  padding: 0.25rem;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0 2px; /* added left and right margin for space between selects */
  cursor: pointer;/* indicates an interactive UI element */
}

.price {
  margin-top: 7px; /* adds some space above the price */
  margin-left: 5px; 
  font-size: 12px; /* slightly bigger text for better readability */
  font-weight: bold; /* makes the price stand out */
}

