
.ec2 {
  display: flex;
  width: 60%;
  margin: 0 auto; /* centers the element horizontally */
  border-radius: 4px;

}
.toggle-component {
  display: flex;
  flex-direction: column; 
  position: absolute;
  padding: 3px 0 3px 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;  
  width: 40%;
  padding-top: 10px;
  padding-right: 8px;
  z-index:10;
  top:1px;
  /* margin : 0 auto; */
  margin: 60px 0 0 0;
}

.toggle {
  display: flex;          /* 자식 요소들을 수평으로 나열 */
  align-items: center;    /* 중앙에 위치시킵니다 */
}

.price {
  background-color: #fff;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #5a842d;
}

.toggle-wrapper label {
  font-size: 10px;
}

select {
  outline: none;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin: 3px;
  font-size: 10px;
  font-weight: bold;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
  color: #333;
}

.custom-select option:hover, 
.custom-select option:focus {
  background-color: #d0d0d0;
}


.element div {
  display:flex;

}
.element div div{
 
  font-size: 9px;            
  color: #333;
  background-color: #ffffff;
  margin: 3px;  
  padding : 6px 6px;           /* 양 옆에 10px의 margin을 추가하여 요소들 사이에 간격 추가 */
  width: fit-content;         
  text-align: center;    
  justify-content: space-between;
  border: 1px solid #e0e0e0;  /* 테두리 추가 */
  border-radius: 8px;       
}

.element div > *:not(:last-child) {
  margin-right: 10px;  /* 오른쪽 마진 적용. 마지막 요소를 제외한 모든 요소에 적용됩니다. */
}