.sidebar {
  z-index: 3;
  padding: 12px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #e5e5e5;
  background-color:#ffffff;
  height: 85vh;
  width: 17%;
  top: 50px;
  position: fixed;
  transition: 0.5s ease;
  overflow-y: auto;
  margin-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: -2px 2px 5px rgba(109, 109, 109, 0.05);
}

.sidebar-title {
  margin-top: -25px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.sidebar-item {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-around; /* 공간을 균등하게 나눔 */
  padding: 10px;
  height: auto; /* 고정된 높이 설정 */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}


.sidebar-item img {
  width: 20%;
  height: auto;
  object-fit: cover;
}

.sidebar-item h3 {
  margin-left: 20px;
  text-align: left;
  flex: 1; 
  margin-right: 10px;
}

.sidebar-item:first-child {
  margin-top: 40px; /* 첫 번째 아이템의 상단에 여백 추가 */
}

.sidebar.closed {
  right: -15%;
}

.sidebar.open {
  right: 0; 
}

.icon {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}


.sidebar-item-closed {
  display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-around; /* 공간을 균등하게 나눔 */
  height: auto; /* 고정된 높이 설정 */

}


.sidebar-item-closed img {
  width: 10%; /* 이미지 너비를 30%로 설정 */
  height: 10%;
  object-fit: cover; /* 이미지 비율을 유지하면서 자르기 */
}

.sidebar-item-closed h3 {
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: left;
  flex: 1; 
  /* margin-right: 10px; */
}


.sidebar-item-closed:first-child {
  margin-top: 40px; /* 첫 번째 아이템의 상단에 여백 추가 */
}
