.sidebar {
  z-index: 3;
  padding: 12px;
  border-radius: 15px 0 0 15px;
  border: 2px solid #e5e5e5;
  background-color:#ffffff;
  height: 85vh;
  width: 17%;
  top: 50px;
  position: absolute;
  transition: 0.5s ease;
  overflow-y: auto;
  margin-top: 2px;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.04);
}

.sidebar-title {
  margin-top: -25px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.sidebar-item {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-around; /* 공간을 균등하게 나눔 */
  padding: 10px;
  height: auto; /* 고정된 높이 설정 */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}


.sidebar-item img {
  width: 20%;
  height: auto;
  object-fit: cover;
}

.sidebar-item h3 {
  margin-left: 20px;
  text-align: left;
  flex: 1; 
  margin-right: 10px;
}

.sidebar-item:first-child {
  margin-top: 40px; /* 첫 번째 아이템의 상단에 여백 추가 */
}

.sidebar.closed {
  right: -15%;
}

.sidebar.open {
  right: 0; 
}

.icon {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}