
.home-content {
    width: 100%;
  }

.home-img {
    max-width: 85%; /* 네비게이션 바의 너비보다 5% 작게 설정 */
    height: auto;   /* 높이는 원본 이미지 비율에 따라 자동 조정 */
    object-fit: cover;
    display: block;  /* 이미지를 블록 요소로 설정하여 중앙 정렬을 위한 마진을 적용할 수 있게 함 */
    margin: 0 auto;  /* 이미지를 수평 중앙 정렬 */
    opacity: 0.5;
}

.home-select-text{
  color:#4D4D4D;
}

.home-select-box {
  width: 50%;
  height: 300px;
  background-color: white;
  color: #3B6C7D;
  position: absolute;
  top: 50%;           /* home-content의 상단에서 50% 아래로 이동 */
  left: 25%;          /* 중앙에 위치시키기 위해 왼쪽에서 25% 이동 (왜냐하면 home-select-box의 너비가 50%이므로) */
  transform: translateY(-50%);  /* Y축을 기준으로 -50%만큼 이동하여 완전히 중앙에 위치 */
  z-index: 1;       
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-input-btn{
  width: 100px;
  height: 40px;
  background-color: #3B6C7D;
  color: white;
  border: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top:40px;
  margin-right: 10px;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #3b6c7d;
  }
}

.home-draw-btn{
  width: 100px;
  height: 40px;
  background-color: #3B6C7D;
  color: white;
  border: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top:40px;
  margin-left:10px;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #3b6c7d;
  }
}